page-about {
    ion-item.item-ios {
        padding: 0;
        width: 100%;
        input{
            margin: 0;
        }
    }
    ion-item.item.item-block.item-md.item-input {
        padding: 0;
    }
}
