<ion-header>

  <ion-navbar>
    <ion-title>Thông tin tài khoản {{accountSignIn}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ul *ngIf="isLogin">
    <li class="image"><img src="{{photoUrl}}" alt="image"><span>{{fullname}}</span></li>
    <li>Email: {{email}}</li>
    <li><button ion-button color="danger" (click)="signOut()" style="padding:0" full>Đăng xuất</button></li>
  </ul>
  <ion-list *ngIf="!isLogin">
    <ion-item>
      <ion-label>Username</ion-label><br>
      <ion-input type="text" #username></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label><br>
      <ion-input type="password" #pass></ion-input>
    </ion-item>
    <div class="wrapper-button">
      <button ion-button full (click)="signIn(username.value, pass.value)">Sign In</button>
      <button ion-button full (click)="signInWithFacebook()">Sign In With Facebook</button>
      <button ion-button full (click)="signInWithGoogle()">Sign In With Google</button>
      <button ion-button full (click)="signInWithGithub()">Sign In With Github</button>
    </div>

  </ion-list>
</ion-content>