page-user-infor {
    ion-header{
        ion-navbar{
            ion-title{
                .toolbar-title-ios{
                    font-size: 1em;
                }
            }
        }
    }
    ion-content{
        ul{
            padding: 0;
            margin: 7px 20px;
            li{
                list-style: none;
                margin: 15px 0px;
                font-size: 19px;
                img{
                    border-radius: 50%;
                    height: 70px;
                    width: 70px;
                }
                span{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-left: 10px;
                }
                button{
                    padding: 0
                }
            }
            li.image{
                position: relative;
            }

        }
        ion-list{
            ion-item.item.item-block.item-ios.item-input {
                border: none;
                padding-left: 0;
            }
            ion-item{
                ion-label{
                    padding-left: 7px;
                }
            }
            div.wrapper-button{
                margin-top: 15px;
                button{
                    margin: 7px 0;
                }
            }
        }
    }
}
