page-home {
    ion-navbar{
        justify-content: center;
    }
    ion-content{
        ion-grid{
            ion-row{
                ion-col{
                    ion-card{
                        .wrapper {
                            background: #564e4ead;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
